@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    margin: 10px 20px;
    font-size: 23px;
    font-weight: 300;
    color: rgb(32, 32, 32);
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{
    position: relative;
    left: 0;
    width: 100vw;
}
footer{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}
.jv{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
.scroll-up{
    position: relative;
    width: 40px;
    height: 40px;
}
.scroll-up img{
    width: 40px;
}

@media only screen and (min-width:1024px) {
    .gallery{
        display:flex
    }
}